<html style="font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 20px;"><head style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">

</head><body style="margin: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857; color: #333333; background-color: white;">
  <div class="container" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;">
    <div class="page-header" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 9px; margin: 40px 0 20px; border-bottom: 1px solid #eeeeee;">
      <h1 style="font-size: 36px; margin: 0.67em 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px;">{{name}} <small style="font-size: 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight: normal; line-height: 1; color: #999999;">{{email}}</small></h1>
    </div>

    <div class="span10" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
      {{#if education}}
      <h2 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Education</h2>
      <ul class="verboseList" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; margin-bottom: 10px; list-style: none; font-size: 17px; padding-bottom: 10px;">
        {{#each education}}
          <li style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 15px;">
            <h4 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 10px; margin-bottom: 10px; font-size: 18px;">{{degree}}: {{major}}</h4>
            <p style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 0 10px;">{{school}}, {{attended}}</p>
          </li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if employment}}
      <h2 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Employment</h2>
      <ul class="verboseList" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; margin-bottom: 10px; list-style: none; font-size: 17px; padding-bottom: 10px;">
        {{#each employment}}
          <li style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 15px;">
            <h3 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 24px;">{{position}} <small style="font-size: 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight: normal; line-height: 1; color: #999999;">{{duration}}</small></h3>
            <h4 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 10px; margin-bottom: 10px; font-size: 18px;">{{employer}}</h4>
            <p style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 0 10px;">{{description}}</p>
            {{#if projects}}
              <ul style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; margin-bottom: 0; list-style: none; font-size: 14px; padding-bottom: 10px;">
                {{#each projects}}
                <li style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 15px;">
                  <b style="font-weight: bold; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{type}}: </b><a href="{{url}}" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #428bca; text-decoration: none;">{{title}}</a>
                </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if interests}}
      <h2 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Interests</h2>
      <ul style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; margin-bottom: 10px; font-size: 17px; padding-bottom: 10px;">
        {{#each interests}}
        <li style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 3px;">{{interest}}</li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if skills}}
      <h2 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Skills</h2>
      <ul style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; margin-bottom: 10px; font-size: 17px; padding-bottom: 10px;">
        {{#each skills}}
          <li style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 3px;">{{skill}}</li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if profiles}}
      <h2 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 500; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 30px;">Profiles</h2>
      <ul class="profileList" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; margin-bottom: 10px; font-size: 17px; padding-bottom: 10px;">
        {{#each profiles}}
          <li style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-bottom: 3px;"><a href="{{url}}" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #428bca; text-decoration: none;">{{title}}</a></li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
  </div>
</body>


</html>